.visualizations-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    padding: 10rem;
  
    .header {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      color: black;
  
      h1 {
        font-size: 1.5rem;
        font-weight: bold;
  
        a {
          color: black;
          text-decoration: none;
          transition: color 0.3s ease-in-out;
  
          &:hover {
            color: #AD49E1;
          }
        }
      }
  
      nav {
        display: flex;
        gap: 20px;
        padding-inline-end: 3rem;
        font-size: 1.5rem;
        font-weight: bold;
  
        a {
          color: black;
          text-decoration: none;
          font-size: 1.2rem;
          transition: color 0.3s ease-in-out;
  
          &:hover {
            color: #662b86;
          }
        }
      }
    }
  
    .visualizations-wrapper {
      margin-top: 20px;
      text-align: center;
  
      h2 {
        font-size: 28px;
        color: #333;
      }
  
      p {
        font-size: 16px;
        color: #666;
        margin-bottom: 20px;
      }
  
      .button-group {
        margin-bottom: 30px;
  
        button {
          padding: 10px 20px;
          margin: 0 10px;
          font-size: 16px;
          color: #fff;
          background-color: #AD49E1;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #6d2e8e;
          }
  
          &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
          }
        }
      }
  
      .error-message {
        color: #d9534f;
        font-size: 16px;
        margin-bottom: 20px;
      }
  
      .visualizations-grid {
        display: flex;
        justify-content: center;
      }
  
      .visualization-section {
        background-color: #f9f9f9;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 1000px;
  
        h3 {
          font-size: 20px;
          color: #333;
          margin-bottom: 10px;
        }
  
        .plots-container {
          display: flex;
          justify-content: space-between;
          gap: 20px;
        }
  
        .plot-image {
          max-width: 48%;
          height: auto;
          border-radius: 5px;
        }
  
        p {
          font-size: 14px;
          color: #888;
        }
      }
    }
  }